<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ioio.examples.hello_service" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:icon="@drawable/pb_icon"
		android:allowBackup="true"
		android:largeHeap="true"
		android:label="@string/app_name">
		<uses-library android:name="com.android.future.usb.accessory"
			android:required="false" />

		<activity android:label="@string/app_name" android:name=".MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="@string/app_name" android:name=".GuitarActivity.ChooseTheme"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="reverseLandscape">
		</activity>

		<activity android:label="@string/app_name" android:name=".SettingActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="reverseLandscape">
		</activity>

		<activity android:label="@string/app_name" android:name=".MetronomActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="reverseLandscape">
		</activity>

        <activity android:label="@string/app_name" android:name=".MenuActivityGif"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reverseLandscape">
        </activity>

        <activity android:label="@string/app_name" android:name=".LoadingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

		<activity android:label="@string/app_name" android:name=".GuitarActivity.GuitarActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="landscape">
            <intent-filter>
                <action android:name=".GuitarActivity.GuitarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
				android:resource="@xml/accessory_filter" />
			<meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter" />
		</activity>

		<activity android:label="@string/app_name" android:name=".Recording.RecordPlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reverseLandscape">

		</activity>
		<!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
        <service android:name="HelloIOIOService2">
        </service>
        <activity android:name=".ioioActivity"/>

    </application>
</manifest>